<div class="align-flex">
	<div class="side-bar text-center text-sidebar ">
		<strong class="text-light separation-top workspace-separation">Custon Segments</strong>
		<a href="" class="button button-pill button-dark separation-top">
			<!-- <img class="img-button" src="images/add-question.svg"> -->
			<%= image_tag "add-question.svg", class:'img-button' %> Add new segment</a>
	</div>
	<div class="question-index">
		<div class="question-nav separation-top">
			<div class="align-flex between container text-sidebar">
				<strong>
					<!-- <img src="images/left-arrow.svg"> -->
					<%= image_tag "left-arrow.svg" %>
					 Previous Question</strong>
				<strong>
					<!-- <img src="images/question-group.svg" class="img-question"> -->
					<%= image_tag "question-group.svg", class:'img-question' %>
					 Back to All Questions</strong>
				<strong>Next Question 
					<!-- <img src="images/right-arrow.svg"> -->
					<%= image_tag "right-arrow.svg"%>
				</strong>
			</div>
		</div>
		<div class="container separation-top small">
			<div class="row">
				<div class="col-4">
					<p class="card-title separation-top">Wich of the following best describes you as a real estate professional? Select one response.</p>
					<div class="separation-top text-sidebar">
						<div class="align-flex separation-top small">
							<div class="question-box separation-left"></div> 
							<p class="separation-left"> Individual:  I work independently</p>
						</div>
						<div class="align-flex separation-top small">
							<div class="question-box second-color separation-left"></div>
							<p class="separation-left">Team Member: I work on a team</p>
						</div>
						<div class="align-flex separation-top small">
							<div class="question-box third-color separation-left"></div>
							<p class="separation-left">Team Leader: I lead a team</p>	
						</div>
						<div class="align-flex separation-top small">
							<div class="question-box fourth-color separation-left"></div>
							<p class="separation-left">Agent Broker: I run an office/franchise, but am not active</p>
						</div>
						<div class="align-flex separation-top small">
							<div class="question-box fifth-color separation-left"></div>
							<p class="separation-left">Managin Broker: I run an office/franchise, but am not active</p>
						</div>
						<div class="align-flex separation-top small">
							<div class="question-box sixt-color separation-left"></div>
							<p class="separation-left">Individual: I work idependently</p>
						</div>
					</div>
					<a href="" class="separation-top button button-ghost button-big">
						<!-- <img src="images/edit.svg"> -->
						<%= image_tag "edit.svg" %>
						 Edit labels</a>
				</div>
				<div class="col-7 offset-1 row">
					<div class="col-6">
						<p class="separation-top">Type of Chart</p>
						<select class="form-select separation-top small">
							<option>Pie Chart (half)</option>
							<option>option 1</option>
							<option>option 2</option>
							<option>option 3</option>
						</select>
					</div>
					<div class="col-6 separation-top">
						<p class="separation-top">Other filter</p>
						<select class="form-select separation-top small">
							<option>Options</option>
							<option>option 1</option>
							<option>option 2</option>
							<option>option 3</option>
						</select>
					</div>
					<a href="" class="button button-ghost button-big separation-top small">
						<!-- <img src="images/addgraph-icon.svg" class="img-button"> -->
						<%= image_tag "addgraph-icon.svg", class:'img-button' %>
						 Add this graph to queue</a>
					<div class="graph-preview align-flex center separation-top">
						<!-- <img src="images/singlegraph.svg"> -->
						<%= image_tag "singlegraph.svg"%>
					</div>
					<div class="separation-top">
						<strong class="separation-top">Graph Settings</strong>
						<div class="row">
							<div class="col-6 subtitle-separation">
								<p class="separation-top">Sort answers by</p>
								<select class="form-select separation-top small">
									<option>Min to Max</option>
									<option>option 1</option>
									<option>option 2</option>
									<option>option 3</option>
								</select>
							</div>
							<div class="col-6 subtitle-separation">
								<p class="separation-top">Display answers as</p>
								<select class="form-select separation-top small">
									<option>Percentages</option>
									<option>option 1</option>
									<option>option 2</option>
									<option>option 3</option>
								</select>
							</div>
							<div class="col-6 subtitle-separation">
								<p class="separation-top">Display scale (for exposure  purposes)</p>
								<select class="form-select separation-top small">
									<option>Small</option>
									<option>option 1</option>
									<option>option 2</option>
									<option>option 3</option>
								</select>
							</div>
							<div class="col-6 subtitle-separation">
								<p class="separation-top">Font size</p>
								<select class="form-select separation-top small">
									<option>Extra Small</option>
									<option>option 1</option>
									<option>option 2</option>
									<option>option 3</option>
								</select>
							</div>
							<div class="col-6 subtitle-separation">
								<p class="separation-top">Display gridlines</p>
								<select class="form-select separation-top small">
									<option>On (show gridlines)</option>
									<option>option 1</option>
									<option>option 2</option>
									<option>option 3</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="container align-flex between">
		<p><strong>Export Queue</strong> (empty)</p>
		<!-- <img src="images/arrowwhite-up.svg"> -->
		<%= image_tag "arrowwhite-up.svg"%>
	</div>
</div>